<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <div class="jumbotron">
          <h1>Lista de temas para estudiar</h1>
          <hr />

          <ul class="list-group">
            <li class="list-group-item" v-for="element in tarea">
              {{element}}
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item" v-for="personas in persona">
              {{personas.edad}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      var appmy = new Vue({
        el: "#root",
        data: {
          tarea: ["HTML", "CSS", "JS", "SQL", "Angular", "VueJs"],
          persona: [
            { nombre: "David", edad: 13 },
            { nombre: "Edier", edad: 19 },
            { nombre: "Camila", edad: 18 }
          ]
        }
      });
    </script>
  </body>
</html>
