<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <div id="votos">
        <div class="container">
            <p>
                <h1>computed Properties</h1>
            </p>
           <div class="row">
               <div class="col-6">
                   <input type="text" v-model="nombre" class="form-control">
                   <input type="text" v-model="apellido" class="form-control">
                   <label for="" class="form-control">{{nombreCompleto | Mayus}}</label>
               </div>
           </div>

        </div>

    </div>

    
    <script src="/js/vue.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
